@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>

            <AuthorizeView>
                @*             کاربر Authorized است
 *@           
            <Authorized>
                    <div>
                        <span>
                            سلام , @context.User.Identity?.Name
                        </span>

                        <span>
                            @context.User.FindFirst("sub")?.Value
                        </span>
                        <a href="/logout" class="btn btn-sm btn-outline-primary ms-2">Logout</a>
                    </div>
                </Authorized>

                @*             کاربر Authorized نیست
 *@          
 <NotAuthorized>


                    <a href="" class="btn btn-sm btn-primary">ورود</a>
                    <a href="" class="btn btn-sm btn-primary">ثبت نام</a>
                </NotAuthorized>

                @*                         کاربر Authorized در حال
 *@
                <Authorizing></Authorizing>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
