@inherits LayoutComponentBase
@inject NavigationManager nav

@* اضافه کردن کامپوننت  Mud Blazor *@

@* این برای مدیریت تم در  Mud Blazor*@
 <MudThemeProvider /> 

@*  این برای نمایش tooltip ها و popover ها در  Mud Blazor*@
 <MudPopoverProvider />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
            

           @* این
               AuthorizeView
               برای اعتبار سنجی و لاگین یا غیر لاگین کردن کاربر است و سه تا بخش دارد
               1- اگر کاربر لاگین شد چیو بهش نمایش بدم
               2- اگه در حال لاگین بود چیو نمایش بدم
               3- اگه لاگین نبود چیو نمایش بدم
               4- برای اجرای این باید یک پکیج نصب کنی و در  فایل app.razor نیز تنظیماتی دارد
               5- میتونی از policy ها و role ها نیز برای آن استفاده کنی
           *@
            <AuthorizeView>
                <Authorized>
                    <div>
                        <span>
                            سلام , @context.User.Identity?.Name
                        </span>
                        <button @onclick="ReturnToLogout" class="btn btn-sm btn-danger">Logout</button>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <button @onclick="ReturnToLogin" class="btn btn-sm btn-primary">Login</button>
                </NotAuthorized>
                <Authorizing>

                </Authorizing>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code {

    private void ReturnToLogout()
    {
        nav.NavigateTo("/logout");
    }
    private void ReturnToLogin()
    {
        nav.NavigateTo("/login");
    }
}