@page "/posts/create"
@using Blog.PanelAdmin.Models.Categories
@using Blog.PanelAdmin.Models.Posts
@using Blog.PanelAdmin.Models.Tags
@using Blog.PanelAdmin.Services.Categories
@using Blog.PanelAdmin.Services.Tag
@inject ITagService TagService
@inject ICategoryService CategoryService


<h3>ارسال مطلب جدید</h3>


<PostBaseInfo PostModel="PostModel" OnValidSubmit="HandleCreatePost">

    <CKEditor  OnContentChanged="(ckContent)=> PostModel.Content = ckContent" />

    <SeoSettings PostModel="PostModel" />

    <CategoryTagSelector 
    Tags="Tags"
    SelectedTags="SelectedTags"
    SelectedTagsChanged="@(Tags=> SelectedTags=Tags)" 
    
    Categories="Categories"
    SelectedCategories="SelectedCategories"
    SelectedCategoriesChanged="@(cats=> SelectedCategories=cats)"/>

</PostBaseInfo>





@code {

    private CreatePostRequestDto PostModel { get; set; } = new();

    private List<TagDto> Tags = new();
    private IEnumerable<TagDto> SelectedTags { get; set; } = new List<TagDto>();

    private List<CategoryDto> Categories = new();
    private IEnumerable<CategoryDto> SelectedCategories { get; set; } = new List<CategoryDto>();



    protected override async Task OnInitializedAsync()
    {
        Tags = await TagService.GetTagsAsync();
        Categories = await CategoryService.GetCategoriesAsync();
    }

    private async Task HandleCreatePost()
    {

    }
}
