@page "/posts"
@using Blog.PanelAdmin.Models.Posts
@using Blog.PanelAdmin.Services.Posts
@inject IPostService PostService

@if (Posts != null && Posts.Any())
{
    foreach (var item in Posts)
    {
        <p>@item.Title</p>
    }
}
@code
{
    private List<PostListResponseDto> Posts;
    protected override async Task OnInitializedAsync()
    {
        await LoadPosts();
    }

    private async Task LoadPosts()
    {
        var queryParams = new Models.Posts.PostQueryParameters()
            {
                Page = 1,
                PageSize = 20
            };
        var result = await PostService.GetPostsForListAsync(queryParams);
        Posts = result.Items;
    }
}
