
<section class="pt-0 ps-10 pe-10 xl-ps-2 xl-pe-2 sm-mx-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                @ChildContent

            </div>
        </div>
    </div>
</section>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

}
