@page "/category/{categoryId:guid}"

<PageTitleSection Title="دسته‌بندی مطالب"
                  SubTitle="در این بخش، مقالات و مطالب متنوع بر اساس دسته‌بندی‌های مختلف ارائه شده‌اند. از مطالب فنی تا مقالات آموزشی، همه در یک جا جمع‌آوری شده‌اند تا به راحتی مطلب مورد نیازتان را پیدا کنید." />

<ContetntSection>
    <h3>Category : @CategoryId</h3>
</ContetntSection>


@code {
    [Parameter]
    public Guid CategoryId { get; set; }
}
