@page "/contact-us"

<PageTitleSection Title="تماس با ما"
                  SubTitle="در صورت داشتن هرگونه سوال، پیشنهاد یا انتقاد، از طریق فرم تماس با ما در ارتباط باشید. ما همیشه آماده‌ی پاسخگویی به شما هستیم."
                  BackgroundAddress="/theme/assets/images/elearning/contact.jpg" />

<ContetntSection>
    <h3>Contact Us</h3>
</ContetntSection>
@code {

}
