@using System.Security.Claims
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <div class="d-flex align-items-center">
                        <img src="/images/avatar_placeholder.webp" alt="Avatar" width="32" height="32"
                             class="rounded-circle me-2" />

                        <span class="me-3">
                            خوش آمدید، @context.User.FindFirst(ClaimTypes.GivenName)?.Value
                        </span>

                        <NavLink href="/account/profile" class="btn btn-outline-primary me-2">
                            پروفایل
                        </NavLink>

                        <form action="/Account/logout" method="post" data-enhance="true">
                            <AntiforgeryToken />
                            <input type="hidden" name="returnUrl" value="/" />
                            <button type="submit" class="btn btn-outline-danger">
                                خروج
                            </button>
                        </form>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <NavLink href="/account/login" class="btn btn-primary">
                        ورود
                    </NavLink>
                    <NavLink href="/account/register" class="btn btn-outline-primary ms-2">
                        ثبت‌نام
                    </NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
