@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <form action="/Account/logout" method="post" data-enhance="true">
                        <AntiforgeryToken />
                        <input type="hidden" name="returnUrl" value="/" />
                        <button type="submit" class="btn btn-outline-danger">
                            خروج
                        </button>
                    </form>
                </Authorized>
                <NotAuthorized>
                    <NavLink href="/account/login" class="btn btn-primary">
                        ورود
                    </NavLink>
                    <NavLink href="/account/register" class="btn btn-outline-primary ms-2">
                        ثبت‌نام
                    </NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
