@using Blog.Application.DTOs
@using Blog.Application.Interfaces
@inject ICategoryService CategoryService


<ul class="navbar-nav">

    <li class="nav-item">
        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">صفحه اصلی</NavLink>
    </li>

    <li class="nav-item dropdown simple-dropdown  ">
        <a class="nav-link dropdown-toggle" href="javascript:void(0);">  دسته بندی موضوعی </a>
        <i aria-expanded="false" class="fa-solid fa-angle-down dropdown-toggle" data-bs-toggle="dropdown" id="navbarDropdownMenuLink6" role="button"></i>
        <ul class="dropdown-menu">
            @if (Categories is not null)
            {
                @foreach (var item in Categories)
                {
                    string c_link = $"/category/{item.Id}";

                    <li class="dropdown">
                        <NavLink href="@c_link"> @item.Name  </NavLink>
                    </li>
                }
            }


        </ul>
    </li>

    <li class="nav-item">
        <NavLink class="nav-link" href="/about-us">درباره ما</NavLink>
    </li>

    <li class="nav-item">
        <NavLink class="nav-link" href="/contact-us">تماس با ما</NavLink>
    </li>
</ul>

@code {
    private IEnumerable<CategoryDto> Categories;


    protected override async Task OnInitializedAsync()
    {
        Categories = await CategoryService.GetAllCategoriesAsync();
    }
}